<?xml version='1.0' encoding='utf-8'?>
<widget id="ec.ticketfacil.appLectorBoletos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TICKETFACIL LECTOR</name>
    <description>
        TicketFacilMovil
    </description>
    <author email="fabricio@practisis.com" href="https://www.ticketfacil.ec/ticket2/">
        Fabricio Carrion 
    </author>
    <content src="index.html" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
    <preference name="permissions" value="none" />
    <preference name='phonegap-version' value='cli-6.5.0' />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <icon src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="blackberry" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="ios" height="57" src="www/img/ticketfacilnegro.png" width="57" />
    <icon gap:platform="ios" height="72" src="www/img/ticketfacilnegro.png" width="72" />
    <icon gap:platform="ios" height="114" src="www/img/ticketfacilnegro.png" width="114" />
    <icon gap:platform="ios" height="144" src="www/img/ticketfacilnegro.png" width="144" />
    <icon gap:platform="webos" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="winphone" src="www/img/ticketfacilnegro.png" />
    <icon gap:platform="winphone" gap:role="background" src="www/img/ticketfacilnegro.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/img/ticketfacilnegro.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/img/ticketfacilnegro.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/img/ticketfacilnegro.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/img/ticketfacilnegro.png" />
    <gap:splash gap:platform="blackberry" src="www/img/ticketfacilnegro.png" />
    <gap:splash gap:platform="ios" height="480" src="www/img/ticketfacilnegro.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="www/img/ticketfacilnegro.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="www/img/ticketfacilnegro.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="www/img/ticketfacilnegro.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="www/img/ticketfacilnegro.png" width="1024" />
    <gap:splash gap:platform="winphone" src="www/img/ticketfacilnegro.png"/>
	<access origin="*" />
	<engine name="android" spec="~4.1" />
</widget>
