.menu_seleccionado{ 
	color:white !important;
}

/* agregadas recien */
#columnas.col-asiento, #columnas.col-descrip, #columnas.col-boleto, #columnas.col-unitario, #columnas.col-total, #aceptar, #portfolio .caption i{
	color: white !important;
}
/* agregadas recien */

#xx{
	color: #fff !important; 
	font-size: 15px !important; 
	padding: 0 15px !important;
}
#yy{
	color: #fff !important; 
	font-size: 15px !important; 
	padding-bottom: 7px !important;
}

#locMap{
    color:white !important;
}

strong{
	color:#fff !important;
}
#botonAbrir{
	/*background-color:white;*/
	color: white !important; 
}

.secciones{
	/*background-color:#01b3d5 !important;/ 
	color: white !important;*/ 
}

.btn-localidad {
   color:white !important;
}