#escenario{
	/*color: #333;*/
	border:1px solid #333;
}
hr{
	border-color: #333 !important;
}

/* agregadas recien */
.page-header{
	border-bottom: 1px solid #333 !important;
}

#fila-1 ul li, #fila-2 ul li, #cmbpago {
    border: 1px solid #333;
}

.relleno, .relleno strong, #aceptar{
	background-color: #333;
	color: white !important;
}

#aceptar{
	background-color: #333 !important;
    color: white !important;
	border-color:  #333 !important;
}  

.relleno span a{
	color: #19b8db !important;
}
  
#datos-factura tbody tr td.borde, .asientosescogidos > .celda-added.col-asiento, .asientosescogidos > .celda-added.col-descrip, .asientosescogidos > .celda-added.col-boleto, .asientosescogidos > .celda-added.col-unitario, .asientosescogidos > .celda-added.col-total{
	border: 1px solid #333;
}

.sinBorde{
	border: none !important;
}

#columnas, .relleno, #aceptar2, #info-documento2 {
    background-color: #333 !important;
    color: white !important;
}

#pagination li .secciones{
	/*background-color: black !important;
	color: white !important;*/
}

.btn_eliminar {
	/*background-color: 333 !important;
	border-color: 333 !important;
	color: white !important;*/
}

#portfolio .caption p, #portfolio .caption i, #btn-grabar{
	background-color: #333 !important;
}

.tarjeta_new{
	color: #333;
}
/* agregadas recien */    

.capitalized-text{
	color: black;
}
#titul{
	color: black !important;
	border: black;
}
/*.container{
	color: black !important;
}*/

#locMap{
	
	font-weight: bold; 
	background-color: #333 !important; 
	/*color:white !important;*/  
	text-align: center !important; 
	border-radius: 0px !important; 
	border-color: #333 !important;
}

i.arrow {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 30px !important;

}

/*span{
	color: #333 !important;
}*/

#mapT{
	font-weight: bold; 
	background-color: white !important; 
	/*color: white !important; */
	text-align: center !important; 
	font-size: 14px !important; 
	border-color: #333; 
	border-radius: 0px !important;
}

#tablePriceTitle{
	font-weight: bold; 
	background-color: white !important; 
	/*color:white !important;*/ 
	text-align: center !important; 
	font-size: 14px !important; 
	border-color: #333; 
	border-radius: 0px !important;
}

#botonAbrir{
	background-color:#333; 
}
/*strong{
	color:black !important;
}*/

.tdLocali{
	padding-left: 5px;
	border: 1px solid #000;
}

#texto{
	color: black !important;
}

#color1{
	color: black !important;
}

.table-responsive.buy{
	/*width:100%; 
	color:#fff;*/ 
	border:1px solid #333 !important;
}
#mapster_wrap_0{
	display: block; 
	position: relative; 
	padding: 0px; 
	width: 534px; 
	height: 482px;
	border:1px solid #333;
}

#aceptar{
	background-color: black !important;
	color: white;
	border-color: black !important;
}



.tdToLeft{
	background-color:#333 !important;
	/*color:white;*/
	border-right:1px solid black;
}

.tdToCenter{
	background-color:#333 !important;
	color:white;
	border-right:1px solid black;
}
.tdToCenter{
	background-color:#333 !important;
	color:white;
	border-right:1px solid black;
}

.finalTd{
    background-color:#333 !important;
	color:white;
	border-right:1px solid black;	
}
.secciones{
	/*background-color: #333;
	color: white !important;*/
}

.btn-localidad {
  font-size: 11px !important;
  /*color:white !important;*/
  background-color: black !important;
  margin-right:13.7px !important; 
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  border-color: black !important;
}

.table-buy-tr{
	background-color:black;
}

.a_boton{
	padding-top: 8px;
	border-radius:20px;
	border:1px solid #333;
}

.card-body > a{
	padding-top: 8px;
	border-radius:20px;
	border:1px solid #333;
	width: 50%;
}

.btn {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
	width: 120px;
	height: 40px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

#buyOnlineTitle{
	color: black !important;
	font-weight: bold;
	/*text-shadow: 4px 4px 2px rgba(255, 196, 5, 1);*/ 
	font-weight: bold;
}

#h2TitleEvent{
	text-transform:capitalize;
	color: black !important;
}

.btn-azul{
    background-color: white !important;
    border-color: #000 !important;
}

a {
    color: #333;
    text-decoration: none;
    text-decoration: none;
	-moz-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.a_boton:hover{
	background-color:#333;
	color:#fff;
}

.menu_seleccionado{
	background-color:#333 !important; 
	padding-left: 0px !important; 
	padding-right: 0px !important;
	border-color: #333 !important;
}

#tdLoCar{
	padding-left: 5px;
	border: 1px solid #333;
}
#datePrev{
	padding-left: 5px;
	border: 1px solid #333;
}

#tdOpenLabel{
	padding-left: 5px;
	border: 1px solid #333;
}